# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.so


# Distribution / packaging
build/
dist/
downloads/
lib/
lib64/



#Others
node_modules
.env
.DS_Store
data

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

# ignora quaisquer diretórios chamados "metadata"
.metadata/
.recommenders/

# ignore the file literally named foo[01].txt
foo\[01\].txt

#### MetaMap ####

metamap/lvg2023/

# public_mm
# metamap/public_mm/
# !metamap/public_mm/sourceData
metamap/public_mm/DB
metamap/public_mm/lexicon
metamap/public_mm/MedPost-SKR
metamap/public_mm/resources
metamap/public_mm/scripts
metamap/public_mm/WSD_Server
!metamap/public_mm/install.log

# UMLS
metamap/UMLS-2022AB-full
# metamap/UMLS-2022AB-full/etc
#metamap/UMLS-2022AB-full/jre
#metamap/UMLS-2022AB-full/plugins
#metamap-portugues/metamap/UMLS-2022AB-full/
metamap/public_mm/sourceData/2022AB-PORTUGUES/01metawordindex/Filter/ALLFILES.strict/
*.nlm
*.src/


############### Arquivos acima de 100MB ###############

metamap/public_mm/sourceData/2022AB-PORTUGUES/umls/MRSAT.RRF 
public_mm/DB/DB.USAbase.2020AA.strict/first_words
public_mm/DB/DB.USAbase.2020AA.strict/cuist
public_mm/DB/DB.USAbase.2020AA.strict/suistrings
public_mm/DB/DB.USAbase.2020AA.strict/sui_cui
public_mm/DB/DB.USAbase.2020AA.strict/first_wordsb_WIDE
public_mm/DB/DB.USAbase.2020AA.strict/first_words_WIDE
public_mm/DB/DB.USAbase.2020AA.strict/conceptst
public_mm/DB/DB.USAbase.2020AA.strict/all_words_WIDE
public_mm/DB/DB.USAbase.2020AA.strict/first_words_of_two_WIDE
public_mm/DB/DB.USAbase.2020AA.strict/cui_srcs_sts
public_mm/DB/DB.USAbase.2020AA.strict/conceptcui
public_mm/DB/DB.USAbase.2020AA.strict/all_words
public_mm/DB/DB.USAbase.2020AA.strict/first_wordsb
public_mm/DB/DB.USAbase.2020AA.strict/cuiconcept
public_mm/DB/DB.USAbase.2022AB.base/cuisrc
public_mm/DB/DB.USAbase.2022AB.base/varsan
public_mm/DB/DB.USAbase.2022AB.base/cuisourceinfo
public_mm/DB/DB.USAbase.2022AB.base/varsanu
public_mm/DB/DB.USAbase.2022AB.base/vars
public_mm/DB/DB.USAbase.2022AB.base/varsu
public_mm/DB/DB.2022AB-PORTUGUES.2022AB.strict/all_words_WIDE
public_mm/DB/DB.USAbase.2022AB.strict/first_words
public_mm/DB/DB.USAbase.2022AB.strict/cuist
public_mm/DB/DB.USAbase.2022AB.strict/suistrings
public_mm/DB/DB.USAbase.2022AB.strict/sui_cui
public_mm/DB/DB.USAbase.2022AB.strict/first_wordsb_WIDE
public_mm/DB/DB.USAbase.2022AB.strict/first_words_WIDE
public_mm/DB/DB.USAbase.2022AB.strict/conceptst
public_mm/DB/DB.USAbase.2022AB.strict/all_words_WIDE
public_mm/DB/DB.USAbase.2022AB.strict/first_words_of_two_WIDE
public_mm/DB/DB.USAbase.2022AB.strict/cui_srcs_sts
public_mm/DB/DB.USAbase.2022AB.strict/conceptcui
public_mm/DB/DB.USAbase.2022AB.strict/all_words
public_mm/DB/DB.USAbase.2022AB.strict/first_wordsb
public_mm/DB/DB.USAbase.2022AB.strict/cuiconcept
public_mm/DB/DB.USAbase.2020AA.base/cuisrc
public_mm/DB/DB.USAbase.2020AA.base/varsan
public_mm/DB/DB.USAbase.2020AA.base/cuisourceinfo
public_mm/DB/DB.USAbase.2020AA.base/varsanu
public_mm/DB/DB.USAbase.2020AA.base/vars
public_mm/DB/DB.USAbase.2020AA.base/varsu
public_mm/data/dfbuilder/2022/inflVars.data
public_mm/data/dfbuilder/2022/MRCONSO.mesh
public_mm/lexicon/data/2020/im_vars
public_mm/lexicon/data/2020/lex_form
public_mm/lexicon/data/2020/lex_rec
public_mm/lexicon/data/2022/im_vars
public_mm/lexicon/data/2022/lex_form
public_mm/lexicon/data/2022/lex_rec
public_mm/sourceData/2022AB-PORTUGUES/umls/MRSAT.RRF
public_mm/WSD_Server/wstvsc01-12-dc.txt
lvg2023/data/HSqlDb/lvg2023.data
lvg2023/data/tables/fruitful.data
lvg2023/data/tables/infl.data
lvg2023/data/tables/antiNorm.data
UMLS-2022AB-full/2022ab-1-meta.nlm
UMLS-2022AB-full/mmsys.zip
UMLS-2022AB-full/2022ab-otherks.nlm
UMLS-2022AB-full/2022ab-2-meta.nlm
UMLS-2022AB-full/2022AB/LEX/LEX_PGMS/lvg2022lite.tgz
UMLS-2022AB-full/2022AB/LEX/LEX_PGMS/lvg2022.tgz
UMLS-2022AB-full/2022AB/LEX/MISC/inflection.table
UMLS-2022AB-full/2022AB/LEX/MISC/inflVars.data
UMLS-2022AB-full/2022AB/LEX/LRAGR
UMLS-2022AB-full/2022AB/META/MRSAT.RRF
UMLS-2022AB-full/2022AB/META/MRCUI.RRF
